.p {
    color: white;
}

.b {
    color: #0B8EAE;
}

#logo-navbar {
    width: 70px;
    max-width: 70px;
    margin-right: 152px;
}

#logo-iconnet {
    width: 500px;
    max-width: 500px;
    margin-right: 100px;
}

.home {
    margin-top: 150px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.home p {
    padding-left: 100px;
    padding-right: 50px;
}

.gradient-bg {
    margin-top: -50px;
    padding: 50px 0;
    background: linear-gradient(90deg, #192857, #0B8EAE);
}

.card-bg {
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
}

.card-plynn {
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    background-color: #fff;
}

.card-bnwth {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: url('../../public/images/assets/card.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-bwh {
    width: 25%;
    border-radius: 5px;
    justify-content: center;
    background-color: #fff;
}

.btn-primary {
    background-color: #0B8EAE;
    border: none;
}

.bnwth {
    display: flex;
    justify-content: center;
    align-items: end;
}

.hr-light {
    border: 2px solid #fff;
    width: 100px;
    margin: 10px auto;
}

.hr-blue {
    border: 2px solid #0B8EAE;
    width: 100px;
    margin: 10px auto;
}
